In [10]:
import re
import numpy as np
import pandas as pd
from unidecode import unidecode

In [11]:
# 从txt中获取数据并查看长度
ontology = []
for line in open('dbpedia_2016-04.txt', "r",encoding='UTF-8'):
    ontology.append(line)
len(ontology)

30793

In [12]:
o2 = []
for j in ontology:
    j = unidecode(j)
    if '#subClassOf>' in j:
        result1 = re.search('/[^/#]*>',j)
        start_name = []
        if result1:
            start_name.append(result1.group(0))
        else:
            continue
        result2 = re.findall('[/|#]+[^/#]+>',j)
        result2 = result2[1:]
        o2.append(start_name+result2)

In [13]:
df2 = pd.DataFrame(o2, columns = ['start_name','relationship','end_name'])

In [14]:
# 删除多余的符号
df2['start_name'] = df2['start_name'].str.replace('[/>#]+', '')

df2['end_name'] = df2['end_name'].str.replace('[/>#]+', '')

df2['relationship'] = df2['relationship'].str.replace('[/>#]+', '')

print(len(df2))
df2.head()

763

         start_name relationship                          end_name
0  BasketballLeague   subClassOf                      SportsLeague
1      NaturalEvent   subClassOf                             Event
2          Province   subClassOf  GovernmentalAdministrativeRegion
3       LunarCrater   subClassOf                            Crater
4  MotorsportSeason   subClassOf                      SportsSeason

In [6]:
# df2.to_csv('dict.csv')

In [15]:
d = pd.read_csv('dict.csv',encoding = 'utf-8')
cla_dict = d.set_index('start_name')['end_name'].to_dict()

In [16]:
len(cla_dict)

754

In [22]:
entity = pd.read_csv('entity_201203.csv',encoding = 'utf-8')
entity = entity.drop('Unnamed: 0', axis = 1)
entity['Class'] = entity[':LABEL']
entity

,entityName,entityId:ID,entityProperty,entityType,:LABEL,entityImportance,Class
0,"Iraqi parliamentary election, September 1954",0,"title: Iraqi parliamentary election, Septemb...",Election,Event,8.734346e+00,Event
1,New Road Team,1,"name: New Road, name: New Road Team, nick: N...",SoccerClub,Organisation,1.066392e+01,Organisation
2,Here Comes Trouble (Bad Company album),2,"name: Here Comes Trouble, releaseDate: 1992-0...",Album,Work,2.728453e+03,Work
3,Canna glauca,3,"synonym: * Canna angustifolia (L.), synonym: ...",Plant,Species,1.519769e+00,Species
4,Povla Frijsh,4,"name: Povla Frijsh, surname: Frijsh, givenNa...",Person,Person,1.612313e-01,Person
...,...,...,...,...,...,...,...
4691086,German submarine U-133 (1941),5822928,"name: U-133, orderDate: 1939-08-07, layingDo...",Ship,Transportation,9.038188e-01,Transportation
4691087,Rengarajan Jaiprakash,5822929,"name: Jaiprakash Rengarajan, description: Ind...",Person,Person,9.778662e+01,Person
4691088,Jean d'Eaubonne,5822930,"name: Jean d Eaubonne, surname: Eaubonne, gi...",Person,Person,1.612313e-01,Person
4691089,"Jack Price (footballer, born 1877) 2",5822931,"years: 1897, numberOfMatches: 1, numberOfGoa...",CareerStation,TimePeriod,6.397571e-01,TimePeriod
4691090,William Godolphin (Royalist),5822932,"name: William Godolphin, surname: Godolphin, ...",Person,Person,1.758564e-14,Person

In [24]:
# 第五次转换
# 树的高度是5，所以转换五次
entity['Class'] = entity['Class'].map(cla_dict)
entity['Class'] = entity['Class'].map(cla_dict)
entity['Class'] = entity['Class'].map(cla_dict)
entity['Class'] = entity['Class'].map(cla_dict)
entity['Class'] = entity['Class'].map(cla_dict)
entity

,entityName,entityId:ID,entityProperty,entityType,:LABEL,entityImportance,Class
0,"Iraqi parliamentary election, September 1954",0,"title: Iraqi parliamentary election, Septemb...",Election,Event,8.734346e+00,Event
1,New Road Team,1,"name: New Road, name: New Road Team, nick: N...",SoccerClub,Organisation,1.066392e+01,Organisation
2,Here Comes Trouble (Bad Company album),2,"name: Here Comes Trouble, releaseDate: 1992-0...",Album,Work,2.728453e+03,Work
3,Canna glauca,3,"synonym: * Canna angustifolia (L.), synonym: ...",Plant,Species,1.519769e+00,Species
4,Povla Frijsh,4,"name: Povla Frijsh, surname: Frijsh, givenNa...",Person,Person,1.612313e-01,Person
...,...,...,...,...,...,...,...
4691086,German submarine U-133 (1941),5822928,"name: U-133, orderDate: 1939-08-07, layingDo...",Ship,Transportation,9.038188e-01,NaN
4691087,Rengarajan Jaiprakash,5822929,"name: Jaiprakash Rengarajan, description: Ind...",Person,Person,9.778662e+01,Person
4691088,Jean d'Eaubonne,5822930,"name: Jean d Eaubonne, surname: Eaubonne, gi...",Person,Person,1.612313e-01,Person
4691089,"Jack Price (footballer, born 1877) 2",5822931,"years: 1897, numberOfMatches: 1, numberOfGoa...",CareerStation,TimePeriod,6.397571e-01,TimePeriod
4691090,William Godolphin (Royalist),5822932,"name: William Godolphin, surname: Godolphin, ...",Person,Person,1.758564e-14,Person

In [26]:
set(entity['Class'])

{'Event',
 'Organisation',
 'Person',
 'Place',
 'Species',
 'TimePeriod',
 'Work',
 nan}

In [25]:
from collections import Counter
Counter(entity['Class'])

Counter({'Event': 60780,
         'Organisation': 264764,
         'Work': 475733,
         'Species': 219014,
         'Person': 1494133,
         'TimePeriod': 1005836,
         nan: 380261,
         'Place': 790570})

In [27]:
entity = entity.fillna('Others')

In [28]:
entity

,entityName,entityId:ID,entityProperty,entityType,:LABEL,entityImportance,Class
0,"Iraqi parliamentary election, September 1954",0,"title: Iraqi parliamentary election, Septemb...",Election,Event,8.734346e+00,Event
1,New Road Team,1,"name: New Road, name: New Road Team, nick: N...",SoccerClub,Organisation,1.066392e+01,Organisation
2,Here Comes Trouble (Bad Company album),2,"name: Here Comes Trouble, releaseDate: 1992-0...",Album,Work,2.728453e+03,Work
3,Canna glauca,3,"synonym: * Canna angustifolia (L.), synonym: ...",Plant,Species,1.519769e+00,Species
4,Povla Frijsh,4,"name: Povla Frijsh, surname: Frijsh, givenNa...",Person,Person,1.612313e-01,Person
...,...,...,...,...,...,...,...
4691086,German submarine U-133 (1941),5822928,"name: U-133, orderDate: 1939-08-07, layingDo...",Ship,Transportation,9.038188e-01,Others
4691087,Rengarajan Jaiprakash,5822929,"name: Jaiprakash Rengarajan, description: Ind...",Person,Person,9.778662e+01,Person
4691088,Jean d'Eaubonne,5822930,"name: Jean d Eaubonne, surname: Eaubonne, gi...",Person,Person,1.612313e-01,Person
4691089,"Jack Price (footballer, born 1877) 2",5822931,"years: 1897, numberOfMatches: 1, numberOfGoa...",CareerStation,TimePeriod,6.397571e-01,TimePeriod
4691090,William Godolphin (Royalist),5822932,"name: William Godolphin, surname: Godolphin, ...",Person,Person,1.758564e-14,Person

In [30]:
en_new = entity.drop(':LABEL', axis = 1)
en_new = en_new.rename(columns = {'Class':':LABEL'})
en_new

,entityName,entityId:ID,entityProperty,entityType,entityImportance,:LABEL
0,"Iraqi parliamentary election, September 1954",0,"title: Iraqi parliamentary election, Septemb...",Election,8.734346e+00,Event
1,New Road Team,1,"name: New Road, name: New Road Team, nick: N...",SoccerClub,1.066392e+01,Organisation
2,Here Comes Trouble (Bad Company album),2,"name: Here Comes Trouble, releaseDate: 1992-0...",Album,2.728453e+03,Work
3,Canna glauca,3,"synonym: * Canna angustifolia (L.), synonym: ...",Plant,1.519769e+00,Species
4,Povla Frijsh,4,"name: Povla Frijsh, surname: Frijsh, givenNa...",Person,1.612313e-01,Person
...,...,...,...,...,...,...
4691086,German submarine U-133 (1941),5822928,"name: U-133, orderDate: 1939-08-07, layingDo...",Ship,9.038188e-01,Others
4691087,Rengarajan Jaiprakash,5822929,"name: Jaiprakash Rengarajan, description: Ind...",Person,9.778662e+01,Person
4691088,Jean d'Eaubonne,5822930,"name: Jean d Eaubonne, surname: Eaubonne, gi...",Person,1.612313e-01,Person
4691089,"Jack Price (footballer, born 1877) 2",5822931,"years: 1897, numberOfMatches: 1, numberOfGoa...",CareerStation,6.397571e-01,TimePeriod
4691090,William Godolphin (Royalist),5822932,"name: William Godolphin, surname: Godolphin, ...",Person,1.758564e-14,Person

In [31]:
labs = list(set(en_new[':LABEL']))
labs

['Person',
 'Place',
 'Species',
 'Event',
 'TimePeriod',
 'Others',
 'Work',
 'Organisation']

In [32]:
en_new.to_csv('entity_210430_3.csv')